[Unit]
Description=RPi Management of Power
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/RPiMP/
ExecStart=python3 RPiMP.py
Restart=always

[Install]
WantedBy=multi-user.target